*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

body {
	min-height: 100vh;
}

img,
svg,
picture,
video {
	max-width: 100%;
}
/* colors */
:root{
	--blue: #297afe;
	--jumbo: #a5d6ff;
}
/* button */
button{
	text-decoration: none;
	border: none;
	background: none;
}
.btn{
	text-decoration: none;
	padding: 1rem;
}

.btn-blue{
	color: white;
	background-color: var(--blue);
}
#btn-circle{
	height: 1rem;
	width: 1rem;
	background-color: black;
	border-radius: 50%;
}
#btn-circle:hover{
	background-color: var(--blue)
}
/* titoli */
h1{
	font-size: 4.5rem;
	font-weight: bolder;
	padding: 2rem 0;
}
h2{
	font-size: 2rem;
	font-weight: bolder;
	padding: 2rem 0;
}

