/* header */
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}
/* nav */
header>nav{
    display: flex;
    justify-content: space-between;
    height: var(--g4);
}

.nav-block{
    display: flex;
    align-items: center;
}

.nav-block a{
    padding: .7rem 1.5rem;
    font-style: none;
}



/* jumbotron */
.jumbotron{
    background-color: var(--jumbo);

}
/* lato/sinistro */
.lato-stretto{
    width: 35%;
}
.jumbo-stretto{
    flex-direction: column;
    align-items: flex-start;
}
.jumbo-stretto>*{
    padding-bottom: var(--g1);
}
.arrow{
    font-size: var(--g3);
    margin-top: auto;
}
/* lato destro */
.lato-largo{
    width: 65%;
}
.jumbo-largo>img{
    transform: scale(115%);
    transform-origin: left top;
}
/* Sezione piano business */
.tipo-fatturazione{
    margin: 0 var(--g2);
}
/* main */
/* 3colonne */
/* team enterprise */
.container-colonna{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--g2);

}
.col{
    width: calc(30%);
}
.titoletto{
    text-align: center;
    border-bottom: none;
}
.main-col{
    flex-direction: column;
    row-gap: var(--g3);
}
/* list-item */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.user::before{
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
}
.folder::before{
    font-family: "Font Awesome 5 Free";
    content: "\f07b";
    font-weight: 900;
}
.circles::before{
    font-family: "Font Awesome 5 Free";
    content: "\f1e0";
    font-weight: 900;
}
.users::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0c0";
    font-weight: 900;
}
.check::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
}
.check{
    color: blue;
}
.fa-check{
    color: var(--blue);
}
.azienda::before{
    font-family: "Font Awesome 5 Free";
    content: "\f594";
    font-weight: 900;
}
/* trova un partner ok*/
/*Esegui più operazioni con Dropbox Business*/
.row{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--g1);
}
/* immagini */
.col-img{
    width: calc(100vw/3);
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 50%;
    height: calc(100vw / 3 / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.square img{
    width: 50%;
    filter: invert();
}
/* color-square */
.square-1{
    background-color: #a2d39b;
}
.square-2{
    background-color: var(--amarena);
}
.square-3{
    background-color: #0093ce;
}
.square-4{
    background-color: #ff1c1c;
}
.square-big{
    padding: var(--g2);
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: var(--g2);
    justify-self: start;
    align-items: flex-start;
}
.square-5{
    background-color: #d5001f;
}
.square-6{
    background-color: var(--jumbo);
}
.square-7{
    background-color: #0d2481;
}
.square-8{
    background-color: #ffd830;
}
/* nella tua azienda */
.mia-azienda{
    background-color: var(--jumbo);
}
.mia-azienda h2{
    color: var(--amarena);
}
.mia-azienda>.container-b{
    align-items: center;
    justify-content: center;
}
.mia-azienda button{
    text-align: center;
}
/* domande frequenti */
.df-1{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
.question{
    display: flex;
    justify-content: space-between;
}
#caret-down:hover{
    display: none;
}
#caret-up, p.answer{
    display: none;
}
#caret-down:hover + p.answer{
    display: block;
}
#caret-down:hover + #caret-up{
    display: block;
}
/* footer */
footer{
    background-color: black;
}
footer h3,li{
    color: white;
}

footer>.container-a{
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-foot{
    width: 18%;
}
#gray *{
    color: gray;
}