/* header */
/* nav */
header>nav{
    display: flex;
    justify-content: space-between;
    height: var(--g4);
}

.nav-block{
    display: flex;
    align-items: center;
}

.nav-block a{
    padding: .7rem 1.5rem;
    font-style: none;
}
/* jumbotron */
.jumbotron{
    background-color: var(--jumbo);
}
/* lato/sinistro */
.lato-stretto{
    width: 35%;
}
.jumbo-stretto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.fa-arrow-down{
    font-size: var(--g3);
}
/* lato destro */
.lato-largo{
    width: 65%;
}
.jumbo-largo>img{
    position: relative;
    top: var(--g2);
}
/* main */
/* Sezione piano business */
.tipo-fatturazione{
    margin: 0 var(--g2);
}

/* 3colonne */
/* team enterprise */
.container-colonna{
    justify-content: space-between;
    gap: var(--g2);
}
.col{
    width: calc(30%);
}
.titoletto{
    text-align: center;
    border-bottom: none;
}
.main-col{
    flex-direction: column;
    row-gap: var(--g3);
}
#or{
    border-bottom: 3px solid lightgray;
}
.fa-check{
    color: var(--blue);
}
/* trova un partner ok*/
/*Esegui più operazioni con Dropbox Business*/
.row{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--g1);
}
/* immagini */
.col-img{
    width: calc(100vw/3);
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 50%;
    height: calc(100vw / 3 / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.square img{
    width: 50%;
    filter: invert();
}
/* color-square */
.square-1{
    background-color: #a2d39b;
}
.square-2{
    background-color: var(--amarena);
}
.square-3{
    background-color: #0093ce;
}
.square-4{
    background-color: #ff1c1c;
}
.square-big{
    padding: var(--g2);
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: var(--g2);
    justify-self: start;
}
.square-5{
    background-color: #d5001f;
}
.square-6{
    background-color: var(--jumbo);
}
.square-7{
    background-color: #0d2481;
}
.square-8{
    background-color: #ffd830;
}
/* nella tua azienda */
.mia-azienda{
    background-color: var(--jumbo);
}
.mia-azienda h2{
    color: var(--amarena);
}
.mia-azienda>.container-b{
    align-items: center;
    justify-content: center;
}
.mia-azienda button{
    text-align: center;
}

